.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 155px;
  display: none;
  grid-template-columns: minmax(19px, 1fr) minmax(282px, 430px) minmax(19px, 1fr);
  grid-template-rows: repeat(2,  min-content);
  gap: 8px;
  grid-template-areas:
  '. . button'
  '. container .';
  background-color: #00000080;
}

@media (max-width: 800px) {
  .popup {
    padding-top: 87px;
    grid-template-areas:
    '. button .'
    '. container .';
    row-gap: 16px;
    column-gap: 0;
  }
}
