.profile__edit-button {
  grid-area: edit-button;
  align-self: end;
  min-width: 24px;
  min-height: 24px;
  margin-bottom: 7px;
  box-sizing: border-box;
  background-color: #000;
  background-image: url('../../../images/edit-button.svg');
  background-position: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media (max-width: 800px) {
  .profile__edit-button {
    grid-column: 1/-1;
    grid-row: 1;
    justify-self: end;
    min-width: 18px;
    min-height: 18px;
    background-size: 7.5px 7.5px;
  }
}
