.popup__input {
  min-height: 38px;
  margin-top: var(--row-gap);
  padding: 10px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #00000033;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
}

