.galery__like-button {
  min-width: 22px;
  min-height: 19px;
  padding: 0;
  background-image: url('../../../images/like.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: opacity .1s ease-out;
}

.galery__like-button:hover {
  opacity: .5;
}
